.login__input {
    border-bottom: 2px solid #CCCCCC;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    outline: none;
    margin: 0 0  55px 0 ;
    padding: 0;
    height: 14px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.login__input:last-of-type {
    margin-bottom: 215px;
}


@media screen and (max-width: 767px) {
    .login__input:last-of-type {
        margin-bottom: 175px;
    }
}

