.profile__avatar {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 120px;
    cursor: pointer;
    height: 120px;
    position: relative;
    width: 120px;
    }

.profile__avatar:hover{
    opacity: 0.3;
    transition:  0.6s linear;
}
